<!DOCTYPE html>
<html lang="en">
<head>
    <title>JSON Formater</title>
</head>
<body>
    {% if fields %}
        <ul>
            {% include "karate/menu.html" %}
        </ul>
        <a href="/">Volver al home</a>
        <button>Generar JSON Karate</button>
    {% else %}
        <form method="POST">
        {% csrf_token %}
            <textarea rows="4" cols="50" name="content"></textarea>
            <button type="submit">Extraer campos</button>
        </form>
    {% endif %}
</body>
</html>